.contacto {
    padding: 5rem 20rem;

    .contacto-info {
        text-align: left;

        h2 {
            font-size: 2rem;
            font-weight: 700;
            line-height: 0;
        }

        p {
            font-weight: 400;
        }

        a {
            font-size: 2rem;
            margin-right: 15px;
        }
    }
}